<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puma6r_description)/urdf/puma6r_manipulator.xacro'"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puma6r_description)/launch/config.rviz" />
  <node pkg="puma6r_kinematics" type="puma6r_kinematics_forwardKinematics" name="forwardKinematics" />
  <node pkg="puma6r_kinematics" type="puma6r_kinematics_geometry_shapes" name="geometry_shapes" />

  <!-- send joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<param name="use_gui" value="True"/>
  </node>

</launch>
